* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.6;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
  padding: 1rem 3rem;
}
header,
#my-interest-section {
  background-color: #921a40;
}
.about-me-section {
  background-color: #f4d9d0;
  padding: 2rem 4rem;
}
header h1 {
  font-size: 26px;
  font-weight: 200;
}
header a {
  font-size: 16px;
}
header h1,
header a,
#my-interest-section {
  color: #faf8f8;
}
header a:hover {
  color: pink;
}
.about-me-section img {
  width: 300px;
  border-radius: 50% 50% 0 0;
  margin-top: 20px;
  border: 1px solid #921a40;
}
.section-text h2,
#my-interest-section h2 {
  font-size: 50px;
  font-weight: 600;
}
.section-text p {
  font-weight: 400;
  font-size: 16px;
}
#my-interest-section {
  padding: 2rem 4rem;
}
#my-interest-section li {
  font-size: 20px;
  font-weight: 300;
}
